.new-icon {background:transparent url(new.png) center 0 no-repeat;}
.save-icon {background:transparent url(save.png) center 0 no-repeat;}
.delete-icon {background:transparent url(delete.png) center 0 no-repeat;}
